spring:
  application:
    name: gateway-server

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8070/eureka/  # Eureka server ka URL
    register-with-eureka: true      # Client ko Eureka server me register karna hai
    fetch-registry: true            # Server se registry fetch karna hai
  instance:
    prefer-ip-address: true          # IP address use karke register kare
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

server:
  port: 8072


